.about {
    position: relative;
    width: 100%;
    left: 0%;
}

#up{
    position: relative;
    width: 90%;
    left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

#bottom{
    position: relative;
    width: 90%;
    left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}


#bottom-central{
    position: relative;
    width: 90%;
    left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

#up img{
    position: relative;
    width: 30%;
}

#bottom img{
    position: relative;
    width: 30%;
}

/*media queries fot layout*/
@media (max-width: 1300px) {
    #up img{
        float: none;
        position: relative;
        width: 80%;
        left: 10%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .text{
        float: none;
        position: relative;
        width: 100%;
        left: 0%;
        text-align: center;
    }
    #bottom img{
        display: none;
    }
}