body {
    margin: 0;
    padding: 0;
    font-size: 70%;
    font-family: Verdana, sans-serif;
    font-family: 'Raleway', sans-serif;
    color: black;
    /* background-color: black;
    background-color: darkslategrey; */
    background-color: rgb(245, 245, 220);
    background-repeat: no-repeat;
}

#title-area-image{
    width: 20%;
    height: 10%;
}

#back-on-top {
    display: none;
    position: fixed;
    bottom: 12%;
    width: 10%;
    z-index: 99;
    outline: none;
    background-color: rgb(245, 245, 220);
    opacity: 0.5;
    cursor: pointer;
    padding-top: 0; padding-bottom: 0;
    padding-left: 0; padding-right: 0;
    border: none;
    border-radius: 8px;
}

#back-on-top:hover {
    background-color: rgb(8, 147, 240);
}

#menu{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    /* width: 100vw; */
    color: #000;
    left: 0; right: 0;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: RGB(200, 200, 160);
    opacity: 0.8;
}

#menu li {
    float: left;
    font-size: 2em;
}

#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.3em 0.5em;
    text-decoration: none;
}

.text{
    font-size: 2em;
}

#menu li a:hover:not(.active) {
    background-color: #111;
}

#menu ul li a.active {
    background-color: goldenrod;
}

#menu ul li a.login-link {
    background-color: red;
}

#menu li.right {
    float: right;
}

/*media queries for the navigation-bar*/
@media all and (max-width: 685px) {
    #menu li.right,
    #menu li {
        float: none;
    }
    .center{
        font-size: 1em;
    }
}

/* @font-face {
    font-family: "Indie Flower";
    src: url("./fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */

#footer {
    position: relative;
    bottom: 0;
    top: 3em;
    width: 100%;
    color: black;
    background-color: RGB(200, 200, 160);
    text-align: center;
    font-size: 2em;
    padding-top: 1em; padding-bottom: 1em;
}

/* #footer .copyright {
    text-align: right;
    position: absolute;
    top: 1em;
    left: 1em;
}

#footer .social-links {
    text-align: right;
    position: absolute;
    top: 1em;
    right: 1em;
} */

.fa {
    padding: 0.5em;
    width: 1em; height: 1em;
    text-decoration: none;
    margin-top: 0.7em;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

#image-background {
    /* position: relative;
    width: 100%;
    left: 0%; */
    margin: 0;
    padding: 0;    
    width: 100%;
    height: 50vh;
    background-image: url('../images/foodSS/4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

#brief-description {
    position: relative;
    width: 90%;
    left: 5%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  #brief-description img{
    margin-top: 5%;
  }
  
  #brief-description h4 {
    font-size: 2em;
    letter-spacing: 0.3em;
  }
  
  #brief-description a {
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    color: white;
  }

#alert-green-pass {
    padding: 1%;
    background-color: yellowgreen;
    color: black;
    font-size: 1em;
    letter-spacing: 0.1em;
  }
  
  #alert-green-pass strong {
    color: red;
    font-size: 1.5em;
  }

#title-text {
    position: relative;
    width: 50%;
    left: 25%;
    text-align: center;
    margin-top: 0.3em;
    background-color: antiquewhite;
    opacity: 0.8;
    border-radius: 15px;
  }

.title-font {
    font-size: 5em;
    font-weight: bold;
}

.title-font2 {
    font-size: 4em;
    font-weight: bold;
}

#title-area {
    position: relative;
    width: 100%;
    left: 0%;
}

#title-text-small{
    font-size: 80%;
}

#title-text {
    position: relative;
    width: 50%;
    left: 25%;
    text-align: center;
    margin-top: 0.3em;

}

#title-area img {
    position: relative;
    width: 10%;
    left: 45%;
    padding-top: 1em;
    max-width: 15%;
}

.name{
    font-style: italic;
    font-weight: bold;
    color: #111;
}

span{
    font-size: 1.7em;
    letter-spacing: 0.1em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.right-float{
    float: right;
    width: 60%;
}
  
.left-float{
    float: left;
    width: 40%;
}

#header-progress-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

#progress-bar-container {
    width: 100%;
    height: 8px;
}

#progress-bar{
    height: 8px;
    background: rgb(146, 148, 148);
    opacity: 0.9;
    width: 0%;
}

.hidden{
    display: none;
}

@media (max-width: 700px) {
    #title-area-image{
        height: 100px;
        width: 50px;
    }
    #title-text{
        position: relative;
        width: 100%;
        left: 0%;
    }
}