body {
    margin: 0;
    padding: 0;
    font-size: 70%;
    font-family: Verdana, sans-serif;
    font-family: 'Raleway', sans-serif;
    color: black;
    /* background-color: rgb(245, 245, 220); */
    background-color: rgb(244,252,251);
    background-repeat: no-repeat;
}

#back-on-top {
    display: none;
    position: fixed;
    bottom: 12%;
    width: 5%;
    z-index: 99;
    outline: none;
    background: none;
    cursor: pointer;
    padding-top: 0; padding-bottom: 0;
    padding-left: 0; padding-right: 0;
    border: none;
    border-radius: 8px;
}

#back-on-top:hover {
    background-color: rgb(8, 147, 240);
}

.topnav{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    /* width: 100vw; */
    background-color: #e88100;
    left: 0; right: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 0.8em;
    text-decoration: none;
    font-size: 1.5em;
    overflow: hidden;
}

.text{
    font-size: 2em;
}

#Topnav a:hover:not(.active) {
    background-color: #111;
    color: white;
}

#Topnav a.active {
    background-color: goldenrod;
}

#footer {
    position: relative;
    bottom: 0;
    top: 3em;
    width: 100%;
    color: black;
    background-color: #e88100;
    text-align: center;
    font-size: 2em;
    padding-top: 1em; padding-bottom: 1em;
}

.fa {
    padding: 0.5em;
    width: 1em; height: 1em;
    text-decoration: none;
    margin-top: 0.7em;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

#image-background {
    margin: 0;
    padding: 0;    
    width: 100%;
    height: 50vh;
    padding-top: 3%;
    background-image: url('../images/sfondo-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#brief-description {
    position: relative;
    width: 90%;
    left: 5%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  
  #brief-description img{
    margin-top: 5%;
  }
  
  #brief-description h4 {
    font-size: 2em;
    letter-spacing: 0.3em;
  }
  
  #brief-description a {
    text-decoration: none;
    font-weight: bold;
    background-color: #e88100;
    color: white;
  }

.title-font {
    font-size: 5em;
    font-weight: bold;
}

.title-font2 {
    font-size: 4em;
    font-weight: bold;
}

.title-font3 {
    font-size: 0.7em;
}

.title-font4 {
    font-size: 3em;
    font-weight: bold;
}

.title-font5 {
    font-size: 2em;
    font-weight: bold;
}

#title-area {
    position: relative;
    width: 100%;
    right: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-text {
    position: relative;
    width: 50%;
    right: 0%;
    text-align: right;
    margin-top: 0.3em;
    padding-right: 2em;
    color: #e88100;
}

#title-text h4, h3{
    margin-top: 0;
    padding-top: 0;
}

#title-area-image {
    position: relative;
    width: 50%;
    left: 0%;
}

.name{
    font-style: italic;
    font-weight: bold;
    color: #111;
}

.orange{
    color: #e88100;
}

.line-vicine{
    margin: 0;
    padding: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.right-float{
    float: right;
    width: 60%;
}
  
.left-float{
    float: left;
    width: 40%;
}

#header-progress-bar {
    position: fixed;
    /* top: 0; */
    bottom: 0;
    z-index: 1;
    width: 100%;
}

#progress-bar-container {
    width: 100%;
    height: 8px;
}

#progress-bar{
    height: 8px;
    background: #e88100;
    opacity: 0.8;
    width: 0%;
}

.hidden{
    display: none;
}

.sponsor-section {
    text-align: center;
    margin-top: 5%;
  }
  
  .sponsor-section h5{
    font-size: 2em;
  }
  
  hr {
    border: 1px solid black;
    width: 80%;
    margin: 20px auto;
  }
  
  .sponsor-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sponsor-logos {
    display: flex;
    justify-content: space-around;
    width: 80%; /* Adatta la larghezza in base alle tue esigenze */
  }
  
  .sponsor-logo {
    width: 100px;
    margin: 10px;
  }
  
  hr {
    border: 1px solid black;
    width: 80%;
  }

  .topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media (max-width: 600px) {
    #menu .none{
        display: none;
    }
    #menu{
        margin-bottom: 5%;
        padding-bottom: 5%;
        width: 98%;
        left: 1%; right: 1%;
    }
    #brief-description {
      float: none;
      position: relative;
      text-align: center;
      width: 80%;
      left: 10%;
      margin-top: 5%;
    }
  }

@media (max-width: 700px) {
    #image-background{
        position: relative;
        width: 100%;
        height: 50vh;
    }
    #title-area{
        display: block;
        text-align: center;
        font-size: 0.8em;
    }
    #title-area-image{
        margin: 0;
        margin-top: 20%;
        height: 150px;
        width: 150px;
    }
    #title-text{
        text-align: center;
        width: 90%;
        left: 5%;
        padding: 0;
    }
    .title-font{
        font-size: 4em;
    }
    .title-font2{
        font-size: 3em;
    }
    .title-font4{
        font-size: 2em;
    }
    .title-font5{
        font-size: 1.5em;
    }
    #back-on-top {
        width: 10%;
    }
    #mappa{
        margin: 0;
        padding: 0;
        height: 30vh;
    }
}

@media (max-width: 350px) {
    .title-font2{
        font-size: 2.5em;
    }
    .title-font4{
        font-size: 2em;
    }
}

@media (max-width: 300px) {
    .title-font2{
        font-size: 2em;
    }
    .title-font4{
        font-size: 2em;
    }
    #brief-description .text{
        font-size: 1.5em;
    }
}
