#image-background {
  /* position: relative;
  width: 100%;
  left: 0%; */
  margin: 0;
  padding: 0;    
  width: 100%;
  height: 100vh;
  background-image: url('../images/foodSS/4.jpg');
  background-repeat: no-repeat;
}

.slideshow-container {
  position: relative;
  width: 70%;
  left: 15%;
}

.single-slide{
  display: none;
}

.single-slide img{
  position: relative;
  width: 90%;
  left: 5%;
}

.dots {
  text-align: center;
  margin: auto;
  margin-top: 2em;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 0.5%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/*media queries for the brief-description*/
@media (max-width: 1100px) {
  #brief-description h4 {
    font-size: 1.5em;
  }
}

/*media queries for the brief-description*/
@media (max-width: 800px) {
  #brief-description h4 {
    float: none;
    position: relative;
    text-align: center;
    left: 0;
    width: 100%;
    padding-top: 0;
  }
  #brief-description img {
    float: none;
    position: relative;
    width: 100%;
  }
  #big-menu-button{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 300%;
  }
  .single-slide img{
    position: relative;
    width: 100%;
    left: 0%;
  }
  .dots {
    display: none;
}
}

#big-menu-button {
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 3em;
  font-weight: bold;
  padding-top: 2em; padding-bottom: 2em;
  position: relative;
  width: 90%;
  left: 5%;
}

#big-menu-button a {
  text-decoration: none;
  background-color: black;
  color: white;
}

#big-menu-button a:hover {
  background-color: rgb(192, 192, 192);
  color: black;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 3em;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

#link-ticket {
  text-decoration: none;
  background-color: black;
  color: white;
}

#link-ticket:hover {
  background-color: rgb(192, 192, 192);
  color: black;
}

.sponsor-section {
  text-align: center;
  margin-top: 5%;
}

.sponsor-section h5{
  font-size: 2em;
}

hr {
  border: 1px solid black;
  width: 80%;
  margin: 20px auto;
}

.sponsor-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor-logos {
  display: flex;
  justify-content: space-around;
  width: 80%; /* Adatta la larghezza in base alle tue esigenze */
}

.sponsor-logo {
  width: 100px;
  margin: 10px;
}

hr {
  border: 1px solid black;
  width: 80%;
}