.food-menu{
    position: relative;
    width: 90%;
    left: 5%;
    box-sizing: border-box;
    padding-bottom: 1em;
    margin-top: 2%;
}

.food-menu1{
    position: relative;
    width: 100%;
    left: 0%;
    display: flex;
    justify-content: space-between;
}

.food-menu1 .left{
    position: relative;
    width: 50%;
    left: 0%;
    padding-right: 1em;
}

.food-menu1 .right{
    position: relative;
    width: 50%;
    right: 0%;
    padding-left: 1em;
}

.food-menu-text .center{
    text-align: center;
}

.food-menu1 img{
    border-radius: 15%;
}

#food-menu-text{
    position: relative;
    width: 100%;
    left: 0%;
    font-size: 2em;
}

#food-menu-text img{
    position: relative;
    width: 100%;
    left: 0%;
    max-height: 600px;
    border-radius: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.food-menu a {
    text-decoration: none;
    font-weight: bold;
    background-color: #e88100;
    color: white;
}

#data{
    text-align: center;
    margin-bottom: 2%;
}

#menu-select{
    position: relative;
    width: 100%;
    font-size: 3em;
    background-color: rgb(66, 66, 66);
}

.column {
    float: left;
    width: 25%; /*are four columns*/
}

.active{
    background-color: goldenrod;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#menu-select a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.food-name {
    font-size: 3em;
}

.sub-menu{
    padding-left: 2em;
    padding-right: 2em;
}

.sub-menu p{
    text-align: left;
    font-size: 1.5em;
}

.sub-menu h1 span{
    background-color: rgb(72, 119, 119);
    color: black;
    border-radius: 10%;
    font-size: 0.6em;
}

#explain{
    margin-top: 2em ;
    position: relative;
    width: 70%;
    left: 15%; right: 15%;
    text-align: center;
    font-size: 2em;
    background-color: rgb(204, 204, 204);
    border-radius: 15px 0 15px 0px;
}

.sub-menu hr{
    padding: 0;
    margin-left: 1em;
    margin-right: 1em;
}

#explain span{
    position: relative;
    width: 100%;
    font-size: 0.8em;
    color: black;
}

hr {
    border: 1px solid #e88100;
    width: 80%;
    margin: 20px auto;
}

@media (max-width: 1400px){
    #menu-select{
        font-size: 2em;
    }
    .food-name{
        font-size: 2em;
    }
    .sub-menu p{
        font-size: 2em;
    }
    .food-menu{
        position: relative;
        width: 90%;
        left: 5%;
        text-align: left;
    }
    .food-menu img,
    #explain img {
        position: relative;
        width: 80%;
        left: 10%;
    }
    #explain {
        font-size: 1.5em;
    }
    #up img{
        float: none;
        position: relative;
        width: 80%;
        left: 10%;
    }
    .food-menu ul{
        list-style: circle;
        text-decoration: none;
    }
    .food-menu li{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

@media (max-width: 900px){
    .column{
       float: none;
       position: relative;
       width: 100%; 
    }
    .sub-menu h1{
        text-align: center;
    }
    .sub-menu p{
        font-size: 1em;
        text-align: left;
    }
    .sub-menu h1 span{
        font-size: 0.4em;
    }
    .food-menu{
        position: relative;
        width: 90%;
        left: 5%;
        text-align: left;
    }
    .food-menu ul{
        list-style: circle;
        text-decoration: none;
    }
    .food-menu li{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

#no-dogs{
    position: relative;
    width: 50%;
    left: 40%;
}

#no-dogs img{
    max-width: 50px;
}


#big-menu-button {
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: bold;
    padding-top: 2em; padding-bottom: 2em;
    position: relative;
    width: 90%;
    left: 5%;
}
  
#big-menu-button a {
    text-decoration: none;
    background-color: #e88100;
    color: white;
}


h3 {
    position: relative;
    width: 90%;
    left: 5%;
    text-align: center;
}

#no-point {
    list-style: none;
    padding-top: 1em;
    font-size: smaller;
}

#mappa{
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}